.footer-dark {
    padding:30px 0;
    margin-top: 65px;
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 19.5rem;
    font-weight: 360px;
    box-shadow: 0 0 5px #a5a4a4;
    color: #707070;
    background-color:transparent;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:360;
    text-align: center;
    font-size:22px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  .footer-dark .item.text {
    padding: 0 15%;
    border-bottom: 1.3px solid rgb(95, 95, 95, 0.4);
    padding-bottom: 15px;
  }
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:17px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:26px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.9;
    margin-bottom:0;
    text-align: center;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1.2px solid;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#707070;
    opacity:0.9;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.6;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.7;
    font-size:17px;
    margin-bottom:0;
  }

  @media screen and (max-width:550px){
    .footer-dark{
      height: fit-content;
    }
    .footer-dark h3 {
      margin-bottom:12px;
      font-size:19px;
    }
    .footer-dark .item.text {
      padding: 0 4%;
      border-bottom: .85px solid rgb(95, 95, 95, 0.4);
      padding-bottom: 6px;
    }
    .footer-dark .item.social > a {
      font-size:19px;
      width:32px;
      height:32px;
      line-height:32px;
      border:1.2px solid;
    }
    .footer-dark .copyright {
      padding-top:18px;
      font-size:17px;
    }
  }