
.cont{
    padding: 0 5% 0 7%;
    background-color: #fff;
    display: flex;
    .blog-post{
        width: 90%;
        margin: auto;
        .post-heading{
            h1{
                color: rgb(74,74,74);
                font-weight: 300;
                margin-bottom:1rem;
                font-size: 38px;
            }
            img{
                width: 95%;
                margin: 0 2.5%;
                height: 57vh;
            }
            margin-bottom: 3.8rem;
        }
        .post-date{
            margin-top: 2rem;
            font-size: 16.5px;
            color: rgb(175, 170, 170)
        }
        .post-body{
            img{
                height: 37vh;
                width: 38vw;
                margin: 10px ;
                float: right;
            }
            .innerHtmlCont{
                margin-top:20px;
                p{
                    color:#4a4a4a;
                    padding: 0 1%;
                    margin-bottom: 1.5rem;
                    margin-top:0;
                    font-size:1.26rem;
                    font-weight: 340;
                    line-height: 1.65;
                    word-wrap: break-word;
                }

                a{
                    color: rgb(173, 32, 173);
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width:991px){
    .cont{
        width: 95%;
        .blog-post{
            padding: 0 9vw;
        }
    }
}

@media screen and (max-width:800px){
    .cont{
        display: flex;
        flex-wrap: wrap;
        .blog-post{
            padding: 0;
            flex:0 0 100%;
            .post-body{
                .innerHtmlCont{
                    p{
                        font-size: 1.1rem;
                        margin-bottom: .9rem;
                    }
                }
            }
        }
        .ads{
            flex: 0 0 100%;
        }
    }
}


@media screen and (max-width:650px){
    .cont{
        width: 100%;
        .blog-post{
            padding: 0;
            .post-heading{
                h1{
                    font-size: 35px !important;
                }
            }
            .post-body{
                .innerHtmlCont{
                    p{
                        line-height:1.55;
                        font-size:1.05rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width:550px){
    .cont{
        .blog-post{
            .post-heading{
                h1{
                    font-size: 28px !important;
                }
                img{
                    height: 35vh !important;
                }
                margin-bottom: 2.5rem !important;
            }
        
            .post-body{
                img{
                    float:none;
                    width: 80vh;
                    margin:0 10vh;
                }
            }
        }
    }
    
}

@media screen and (max-width: 400px){
    .cont{
        .blog-post{
            .post-body{
                .innerHtmlCont{
                    p{
                        font-size: 0.95rem;
                        margin-bottom: .9rem;
                    }
                }
            }
        }
    }
    
}

