<nav [classList]="navOpened ?
 'navbar navbar-expand-lg navbar-light navbar-color open' : 
'navbar navbar-expand-lg navbar-light navbar-color'">
    <div class="navbar-brand-cont">
      <a class="navbar-brand">SkrapNews</a>
      <p>News through an unbiased lens.</p>
    </div>
    <div class="hamburger-cont">
      <button (click)="toggleMenu()" class="hamburger hamburger--slider" [class.is-active]="navOpened" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="bottom-nav">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/']" [routerLinkActiveOptions]="{'exact':true}" routerLinkActive='navlink-active'>Home</a>
          <a class="nav-link" [routerLink]="['/section', 'politics']" routerLinkActive='navlink-active'>Politics</a>
          <a class="nav-link" [routerLink]="['/section', 'business']" routerLinkActive='navlink-active'>Business</a>
          <a class="nav-link" [routerLink]="['/section', 'crime']" routerLinkActive='navlink-active'>Crime</a>
          <a class="nav-link" [routerLink]="['/section', 'entertainment']" routerLinkActive='navlink-active'>Entertainment</a>
          <a class="nav-link" [routerLink]="['/section', 'features']" routerLinkActive='navlink-active'>Features</a>
          <a class="nav-link" [routerLink]="['/section', 'sports']" routerLinkActive='navlink-active'>Sports</a>
          <!-- <a class="nav-link" [routerLink]="['/section', 'humanity']" routerLinkActive='navlink-active'>Humanity</a> -->
          <a class="nav-link" [routerLink]="['/section', 'romance']" routerLinkActive='navlink-active'>Romance</a>
          <a class="nav-link" [routerLink]="['/section', 'sdgs']" routerLinkActive='navlink-active'>SDGs</a>
          <a class="nav-link" [routerLink]="['/section', 'videos']" routerLinkActive='navlink-active'>Videos</a>
        </div>
      </div>
    </div>
  </nav>

  <div class="backdrop" (click)="toggleMenu()" *ngIf="menuState == 'out'"></div>
    <div id="sidebarMenu" [@slideInOut]="menuState">
      <a class="navbar-menu-brand">SkrapNews</a>
      <ul class="sidebarMenuInner straight-nav" >
        <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/']" [routerLinkActiveOptions]="{'exact':true}" routerLinkActive='navlink-active'>Home</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'politics']" routerLinkActive='navlink-active'>Politics</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'business']" routerLinkActive='navlink-active'>Business</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'crime']" routerLinkActive='navlink-active'>Crime</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'entertainment']" routerLinkActive='navlink-active'>Entertainment</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'features']" routerLinkActive='navlink-active'>Features</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'sports']" routerLinkActive='navlink-active'>Sports</a>
            <!-- <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'humanity']" routerLinkActive='navlink-active'>Humanity</a> -->
            <!-- <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'news']" routerLinkActive='navlink-active'>News</a> -->
            <!-- <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'research-articles']" routerLinkActive='navlink-active'>Research Articles</a> -->
            <!-- <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'personal-stories']" routerLinkActive='navlink-active'>Personal Stories</a> -->
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'interviews']" routerLinkActive='navlink-active'>Interviews</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'romance']" routerLinkActive='navlink-active'>Romance</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'sdgs']" routerLinkActive='navlink-active'>SDGs</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'videos']" routerLinkActive='navlink-active'>Videos</a>
            <!-- <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'humanity']" routerLinkActive='navlink-active'>Humanity</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'crime']" routerLinkActive='navlink-active'>Crime</a>
            <a class="nav-link-b" (click)="toggleMenu()" [routerLink]="['/section', 'politics']" routerLinkActive='navlink-active'>Politics</a> -->
            <a class="nav-link-b" *ngIf="authenticated" (click)="toggleMenu()" [routerLink]="['/create-post']" routerLinkActive='navlink-active'>Publish</a>
      </ul>
    </div>

  